body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #c7d2fe, #93c5fd);
    transition: 0.3s;
}
.card-custom:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

body.dark .card-custom {
    background: #1e1e1e;
    color: white;
}

/* DARK MODE */
body.dark {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background: linear-gradient(180deg, #3b82f6, #6366f1);
    color: white;
    padding: 20px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.sidebar a:hover,
.active {
    background: rgba(255,255,255,0.2);
}

/* MAIN */
.main {
    margin-left: 260px;
    padding: 25px;
}

/* CARDS */
.card-custom {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card-custom:hover {
    transform: translateY(-5px);
}

body.dark .card-custom {
    background: #1e293b;
}

/* BUTTON */
.btn-primary {
    background: linear-gradient(90deg, #3b82f6, #6366f1);
    border: none;
}

/* TABLE */
.table {
    background: white;
    border-radius: 10px;
}

body.dark .table {
    background: #1e293b;
    color: white;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 25px;
    border-radius: 15px;
}

/* SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
.switch input { display:none; }

.slider {
    position: absolute;
    background: #ccc;
    border-radius: 24px;
    top:0; left:0; right:0; bottom:0;
}

.slider:before {
    content:"";
    position:absolute;
    height:18px;
    width:18px;
    left:3px;
    bottom:3px;
    background:white;
    border-radius:50%;
}

input:checked + .slider {
    background:#3b82f6;
}

input:checked + .slider:before {
    transform:translateX(26px);
}